@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --shadow-width: 100%; /* Default width */
  --shadow-height: 20%; /* Default height */
  --shadow-color: rgba(173, 14, 194, 0.5); /* Default shadow color */
  --shadow-opacity: 100; /* Default shadow opacity */
  
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer components {
  .project {
   position: absolute;
  }
  
  .project:before {
    content: '';
  position: absolute;
  top: 150%;
  left:50%;
  width: var(--shadow-width);
  height: var(--shadow-height);
  background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
  border-radius: 100%;
  offset: 150%;
  
  z-index: -1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}
